[submodule "examples"]
	path = examples
	url = https://github.com/RISCuinho/exemplos
[submodule "LibFPGA"]
	path = lib/LibFPGA
	url = https://github.com/RISCuinho/LibFPGA
[submodule "memory"]
	path = memory
	url = https://github.com/RISCuinho/memoria/
