[submodule "examples"]
	path = examples
	url = https://github.com/RISCuinho/exemplos.git
   branch = main
[submodule "LibFPGA"]
	path = lib/LibFPGA
	url = https://github.com/RISCuinho/LibFPGA.git
   branch = main
[submodule "memory"]
	path = memory
	url = https://github.com/RISCuinho/memoria.git
   branch = main
