verilator/
teste.cpp
prog_128.hex
prog_256.hex
prog_128.hex
prog_32.StoreLoadEx1.hex
prog_32.store.load.instructions.hex
prog_64.hex
teste.cpp
main.cpp
CMakeLists.txt
docs
.gtkwaverc
vsim.wlf
vish_stacktrace.vstf
tcl_stacktrace.txt

*.bck
*.bak
*.vcd
~*
xt2
OBS
*.MTI
*.MPF
build/
transcript
work/
*.swp

RISCUIN_Quartus.*
!RISCUIN_Quartus.htm
!RISCUIN_Quartus.qpf
!RISCUIN_Quartus.qsf
!RISCUIN_Quartus.sdc
!RISCUIN_Quartus.v
db/
incremental_db/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

serv_req_info.txt

# Outros arquivos a serem temporáriamente ignorados por hora
*Quartus*
*.blif
*.dot
*.gtkw
*.json
*.png


## Arquivos do Xilinx ISE
xise/tmp
xise/iseconfig/

