//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.02Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sat 05 01 23:37:39 2021

IO_LOC "GPIO_D[7]" 34;
IO_PORT "GPIO_D[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[6]" 33;
IO_PORT "GPIO_D[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[5]" 32;
IO_PORT "GPIO_D[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[4]" 31;
IO_PORT "GPIO_D[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[3]" 27;
IO_PORT "GPIO_D[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[2]" 30;
IO_PORT "GPIO_D[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[1]" 29;
IO_PORT "GPIO_D[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO_D[0]" 28;
IO_PORT "GPIO_D[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "MCU_ACK" 13;
IO_PORT "MCU_ACK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PSRAM_CLK" 20;
IO_PORT "PSRAM_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PSRAM_CEn" 19;
IO_PORT "PSRAM_CEn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_B" 18;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_G" 17;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_R" 16;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SYS_RSTn" 11;
IO_LOC "SYS_CLK" 10 ;
