//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.02Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sun 04 25 00:04:43 2021

IO_LOC "LED_B" 18;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_G" 17;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_R" 16;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MCU_ACK" 13;
IO_PORT "MCU_ACK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PSRAM_CEn" 19;
IO_PORT "PSRAM_CEn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PSRAM_CLK" 20;
IO_PORT "PSRAM_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// barramento Data
IO_LOC "GPIO_D[0]" 28;
IO_LOC "GPIO_D[1]" 29;
IO_LOC "GPIO_D[2]" 30;
//IO_LOC "GPIO_D[3]" ;
IO_LOC "GPIO_D[4]" 31;
IO_LOC "GPIO_D[5]" 32;
IO_LOC "GPIO_D[6]" 33;
IO_LOC "GPIO_D[7]" 34;

//IO_LOC "LCD_R[4]" 31;
//IO_LOC "LCD_R[3]" 30;
//IO_LOC "LCD_R[2]" 29;
//IO_LOC "LCD_R[1]" 28;
//IO_LOC "LCD_R[0]" 27;
//IO_PORT "LCD_R[4]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_R[3]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_R[2]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_R[1]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_R[0]"  IO_TYPE=LVCMOS33;

// barramento 2
//IO_LOC "LCD_G[5]" 40;
//IO_LOC "LCD_G[4]" 39;
//IO_LOC "LCD_G[3]" 38;
//IO_LOC "LCD_G[2]" 34;
//IO_LOC "LCD_G[1]" 33;
//IO_LOC "LCD_G[0]" 32;
//IO_PORT "LCD_G[5]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_G[4]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_G[3]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_G[2]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_G[1]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_G[0]"  IO_TYPE=LVCMOS33;

// Barramento 3
//IO_LOC "LCD_B[4]" 45;
//IO_LOC "LCD_B[3]" 44;
//IO_LOC "LCD_B[2]" 43;
//IO_LOC "LCD_B[1]" 42;
//IO_LOC "LCD_B[0]" 41;
//IO_PORT "LCD_B[4]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_B[3]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_B[2]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_B[1]"  IO_TYPE=LVCMOS33;
//IO_PORT "LCD_B[0]"  IO_TYPE=LVCMOS33;
